<template>
  <ValidationProvider
    v-slot="{ errors }"
    :rules="rules"
    tag="section"
    class="flex flex-col"
  >
    <label :for="id">{{ label }}</label>
    <input
      :id="id"
      :type="type"
      :value="value"
      @input="$emit('input', $event.target.value)"
    />
    <span v-for="(error, index) in errors" :key="`${id}_error_${index}`">
      {{ error }}
    </span>
  </ValidationProvider>
</template>

<script setup>
defineProps({
  id: {
    type: String,
    required: true,
  },
  type: {
    type: String,
    validator: (/** @type {string} */ value) =>
      ["text", "email", "password", "number", "search", "tel"].includes(value),
    default: "text",
  },
  label: {
    type: String,
    required: true,
  },
  rules: {
    type: String,
    default: "",
  },
  value: {
    type: [String, Number],
    default: "",
  },
});
defineEmits(["input"]);
</script>
