<script setup>
import { ref, onMounted, defineEmits } from "vue";

defineEmits(['submit'])

const form = ref(null)

onMounted(() => {
  /**
   * @type {{value: import('@/types/vee-validate-components').ValidationObserverMethods}}
   */
  const { value } = form
  value.validate
})
</script>

<template>
  <ValidationObserver ref="form" tag="form" @submit.prevent="$emit('submit')">
    <slot></slot>
  </ValidationObserver>
</template>