<route lang="yaml">
meta:
  layout: headless
</route>
<script setup>
import { REPOSITORY_SYMBOL } from "@/constants/symbol";
import { inject } from "vue";

/** @type {import("@/repositories").IRepositories} */
const repositories = inject(REPOSITORY_SYMBOL);
</script>
<template>
  <main v-frag>
    <section
      class="flex h-[100vh] flex-col align-middle justify-center bg-gray-900"
    >
      <h1 class="text-center text-2xl text-white">
        Welcome to Puppycat
        <a
          class="cursor-pointer"
          href="https://v2.vuejs.org/v2/guide/migration-vue-2-7.html"
          >Vue2 Template !
        </a>
      </h1>
      <iframe
        src="https://giphy.com/embed/yV8fhMvyn7S1O"
        width="480"
        height="270"
        frameBorder="0"
        class="self-center"
        allowFullScreen
      />
      <section class="flex justify-center">
        <a href="https://vitejs.dev" target="_blank">
          <img
            src="/vite.svg"
            class="h-24 p-6 will-change-[filter] hover:drop-shadow-[0_0_2em_#646cffaa]"
            alt="Vite logo"
          />
        </a>
        <a href="https://vuejs.org/" target="_blank">
          <img
            src="@/assets/vue.svg"
            class="h-24 p-6 will-change-[filter] hover:drop-shadow-[0_0_2em_#42b883aa]"
            alt="Vue logo"
          />
        </a>
        <a href="https://vitest.dev/" target="_blank">
          <img
            src="/vitest-logo.png"
            class="h-24 p-6 will-change-[filter] hover:drop-shadow-[0_0_2em_#729b1b]"
            alt="Vitest logo"
          />
        </a>
        <a href="https://tailwindcss.com/" target="_blank">
          <img
            src="/Tailwind_CSS.svg"
            class="h-24 p-6 will-change-[filter] hover:drop-shadow-[0_0_2em_#07b6d5]"
            alt="Tailwind logo"
          />
        </a>
        <a href="https://stylelint.io/" target="_blank">
          <img
            src="/stylelint.svg"
            class="h-24 p-6 will-change-[filter] hover:drop-shadow-[0_0_2em_#000000]"
            alt="Stylelint logo"
          />
        </a>
        <a
          href="https://eslint.org/docs/latest/user-guide/getting-started"
          target="_blank"
        >
          <img
            src="/ESLint_logo.svg"
            class="h-24 p-6 will-change-[filter] hover:drop-shadow-[0_0_2em_#512bcb]"
            alt="ESLint logo"
          />
        </a>
      </section>
      <footer class="bottom-0 text-white text-center w-full">
        © 2022. All rights reserved.
      </footer>
    </section>
  </main>
</template>
