<script setup>
import { reactive } from "vue";

defineProps({
  msg: String,
});

const formValue = reactive({
  email: '',
  password: ''
})

const onSubmit = () => {
  console.log(formValue);
}
</script>

<template>
  <section class="grow">
    <GeneralForm @submit="onSubmit">
      <section>
        <h1>Welcome to Puppycat Template</h1>
        <p>Grateful to have you back! Enter detail below</p>
      </section>

      <ul>
        <li>
          <GeneralInput id="email" v-model="formValue.email" label="Email" type="email" />
        </li>
        <li>
          <GeneralInput id="password" v-model="formValue.password" label="Password" type="password" />
        </li>
      </ul>

      <section>
        <input id="remember_account" type="checkbox" name="remember_account" />
        <label for="remember_account">Remember for 30 days</label>
      </section>
      <button type="submit">Sign in</button>
      <p>Don't have account? <a href="#">Sign Up</a></p>
    </GeneralForm>
  </section>
</template>
