<template>
  <header>
    <nav class="flex gap-5">
      <router-link to="/">Home</router-link>
      <router-link to="/about">About</router-link>
      <router-link to="/login">Login</router-link>
    </nav>
  </header>
</template>
