<script setup>
import { provide } from "vue";
import { axiosInstance } from "./config/axios";
import { REPOSITORY_SYMBOL } from "./constants/symbol";
import { repositoryBuilder } from "./repositories";

provide(REPOSITORY_SYMBOL, repositoryBuilder(axiosInstance));
</script>
<template>
  <main id="app" role="application">
    <transition>
      <router-view></router-view>
    </transition>
  </main>
</template>
